body {
  background-color: #FAD4D4;
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;

  /*margin: 0 auto 0 auto;*/
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container {
  text-align: center;
  background-color: #FFF2F2;
  border: solid;
  border-width: 3px;
  margin: 10px;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
  height: 80px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
  height: 80px;
}

.floch {
  height: 400px;
  width: 25%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;

}

.sklol {
  height: 400px;
  width: 50%;
  float: left;
  position: relative;
  bottom: 50px;
}

.bottom-container {
  background-color: #66BFBF;
  padding-top: 50px;
  padding-bottom: 20px;
  line-height: 2;
  margin-top: 20px;
}
.bottom-name {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.footer-link {
  color: #11999E;

}

.btn {

  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

hr {

  border-style: none;
  border-top-style: dotted;
  margin: 100px auto;
  border-width: 20px;
  border-color: white;
  height:0;
  width:10%;
}

.floch-p {
  padding-bottom: 20px;
  width: 35%;
  margin: auto;
}

.weeb {
  padding-bottom: 25px;
}

p {
  line-height: 2;
}
